.sidebar{
    position: fixed;
    z-index: 1000;
    top:71px;
    left: 235px;
    width: 210px;
    margin-left: -235px;
    margin-bottom: 48px;
    background: $primary;
    bottom: 0;
    padding-bottom: 40px;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}
.navbar{
    height: 70px;
    margin-bottom: 1px;
    background:$primary;
    
    .navbar-brand{
        color:$primary-ultra-light;
        font-size: 36px;
    }
}